//*************************************************************************************************
//
// Navigation
//


ul.breadcrumbs
    margin: 0px
    padding: 0px
    list-style: outside none none
    li
        display: inline-block
//      a
//          padding: 5px
//          &:first-child
//              padding-left: 0

//**************************************************************************************************
//
// End
//
//**************************************************************************************************
