//**************************************************************************************************

nav.nav-side
    background: $menu-background-color
    left: 0px
    min-height: 100%
    overflow-x: hidden
    overflow-y: scroll
    position: fixed
    top: 0px
    width: $nav-width

//**************************************************************************************************

.nav-toc
    ul
        margin-bottom: 0

    li
        &.divide-top
            border-top: solid 1px hsl(0, 0%, 25%)
        &.divide-bottom
            border-bottom: solid 1px hsl(0, 0%, 25%)
        &.current
            background: darken($section-background-color, 10%)
            a
                color: $text-medium
                border-right: solid 1px darken($section-background-color, 20%)
                padding: $gutter / 4 $gutter * 1.5
                &:hover
                    background: darken($section-background-color, 15%)
        // Expand links
        span.toctree-expand
            display: block
            float: left
            margin-left: -1.2em
            @extend .fa
            @extend .fa-plus-square-o
            color: darken($text-medium, 20%)
            font-size: .8em
            line-height: 1.6em

    // On state for the first level
    li.on a, li.current > a
        background: $section-background-color
        border-bottom: solid 1px darken($section-background-color, 20%)
        border-top: solid 1px darken($section-background-color, 20%)
        border: none
        color: $text-color
        font-weight: bold
        padding-left: $gutter -4px
        padding: $gutter / 4 $gutter
        position: relative
        // +font-smooth
        &:hover
            background: $section-background-color
            span.toctree-expand
                color: $text-medium
        span.toctree-expand
            @extend .fa
            @extend .fa-minus-square-o
            color: darken($text-medium, 30%)
            display: block
            font-size: .8em
            line-height: 1.6em

    // This is the on state for pages beyond second level
    li.toctree-l1.current li.toctree-l2, li.toctree-l2.current li.toctree-l3
        > ul
            display: none
        &.current > ul
            display: block

    li.toctree-l2
        &.current
            > a
                background: darken($section-background-color, 20%)
                padding: $gutter / 4 $gutter * 1.5
            li.toctree-l3 > a
                background: darken($section-background-color, 20%)
                display: block
                padding: $gutter / 4 $gutter * 2.5
        a:hover span.toctree-expand
            color: $text-medium
        span.toctree-expand
            color: darken($section-background-color, 35%)

    li.toctree-l3
        font-size: .9em
        &.current
            > a
                background: darken($section-background-color, 25%)
                padding: $gutter / 4 $gutter * 2.5
            li.toctree-l4 > a
                background: darken($section-background-color, 25%)
                border-bottom: none
                border-top: none
                display: block
                padding: $gutter / 4 $gutter * 3.5
        a:hover span.toctree-expand
            color: $text-medium
        span.toctree-expand
            color: darken($section-background-color, 40%)

    li.toctree-l4
        font-size: .9em

    li.current ul
        display: block

    li ul
        margin-bottom: 0
        display: none

    .local-toc
        li ul
            display: block

    li ul li a
        color: $text-light
        font-weight: normal
        margin-bottom: 0

    a
        // font-weight: bold
        color: $text-light
        display: block
        font-size: 90%
        margin-bottom: 0.809em
        padding: $gutter / 4 $gutter
        position: relative
        text-decoration: none
        &:hover
            background: lighten($menu-background-color, 10%)
            span.toctree-expand
                color: $text-light
        &:active
            background-color: $menu-logo-color
            color: $white
            cursor: pointer
            span.toctree-expand
                color: $white

//**************************************************************************************************

.nav-side-search
    background-color: $link-color
    color: $section-background-color
    margin-bottom: $gutter / 2
    padding: $gutter / 2
    text-align: center

    > a
        color: $section-background-color
        display: inline-block
        font-size: 100%
        font-weight: bold
        margin-bottom: $gutter / 2
        padding: $line-height-base / 6 $line-height-base / 4
        text-decoration: none
        &:hover
            background: rgba(255, 255, 255, .1)

    input[type="text"]
        border-color: darken($link-color, 5%)
        border-radius: 50px
        border: 1px solid $input-border-color
        box-shadow: inset 0 1px 3px $input-shadow-color
        font-size: 80%
        padding: $line-height-base / 4

//***************************************************************************************************
//
// End
//
//***************************************************************************************************
