//**************************************************************************************************

nav.nav-side
    position: fixed
    top: 0px
    left: 0px
    width: $nav-width
    min-height: 100%
    overflow-x: hidden
    overflow-y: scroll
    background: #343131

//**************************************************************************************************

.nav-toc
    color: #404040

    ul
        margin: 0px
        padding: 0px
        list-style: outside none none

    li.current
        background: #E3E3E3

    a
        line-height: 18px
        padding: 0.4045em 1.618em
        display: block
        position: relative
        font-size: 90%
        color: #B3B3B3
        text-text-decoration: none
        &:hover
            background-color: #4E4A4A

//**************************************************************************************************

.nav-side-search
    padding: .809em
    background-color: #2980B9
    text-align: center

    > a
        display: inline-block
        padding: 4px 6px
        margin-bottom: 0.809em
        color: #FCFCFC
        font-size: 100%
        font-weight: bold
        text-decoration: none
        &:hover
            background: rgba(255, 255, 255, .1)

    form
        input[type="text"]
            padding: 6px 12px
            border: 1px solid #CCC
            border-radius: 50px
            border-color: #2472A4
            box-shadow: 0px 1px 3px #DDD inset
            font-size: 80%

//***************************************************************************************************
//
// End
//
//***************************************************************************************************
