.float-left
    float: left

.float-right
    float: right

.full-width
    width: 100%

//***************************************************************************************************
//
// End
//
//***************************************************************************************************
