include *.txt
include LICENSE
recursive-include sphinx_sass_theme *.conf
recursive-include sphinx_sass_theme *.css
recursive-include sphinx_sass_theme *.eot
recursive-include sphinx_sass_theme *.html
recursive-include sphinx_sass_theme *.js
recursive-include sphinx_sass_theme *.svg
recursive-include sphinx_sass_theme *.ttf
recursive-include sphinx_sass_theme *.woff
