//**************************************************************************************************

// ``...``
// ->
// <code class="docutils literal">

// .. code-block:: python
// ->
// <div class="highlight-python">
//     <div class="highlight">
//         <pre>

// <div class="highlight-python">
//     <table class="highlighttable">

// div[class^='highlight'] class starts with "highlight"

// <div class="highlight-python">
//     <table class="highlighttable">
//         <tbody>
//             <tr>
//                 <td class="linenos">
//                     <div class="linenodiv">
//                         <pre></pre>
//                     </div>
//                 </td>
//                 <td class="code">
//                    <div class="highlight">
//                        <pre>

//**************************************************************************************************

.codeblock, div[class^='highlight']
    background: $white
    border: 1px solid $table-border-color
    // 1px hack otherwise border won't show. lame
    margin: 1px 0 $line-height-base 0
    overflow-x: auto
    padding: 0px
    div[class^='highlight']
        background: none
        border: none
        margin: 0

// Needs 100% width for line highlighting to work properly
div[class^='highlight'] td.code
    width: 100%

// Line numbers
.linenodiv pre
    border-right: solid 1px lighten($table-border-color, 2%)
    color: $text-lighter
    font-family: $code-font-family
    font-size: 12px
    line-height: 1.5
    margin: 0
    padding: $line-height-base / 2   $line-height-base / 2

div[class^='highlight'] pre
    color: $text-color
    display: block
    font-family: $code-font-family
    font-size: 12px
    line-height: 1.5
    margin: 0
    overflow: auto
    padding: $line-height-base / 2   $line-height-base / 2
    white-space: pre

// .. parsed-literal::
// ->
// <pre class="literal-block"></pre>
pre.literal-block
    @extend .codeblock

//***************************************************************************************************
//
// End
//
//***************************************************************************************************
